/* Dracula Theme for MacDown Preview
 * https://draculatheme.com/macdown
 *
 * Color Palette (from https://spec.draculatheme.com/)
 * Background:  #282A36
 * Foreground:  #F8F8F2
 * Selection:   #44475A
 * Comment:     #6272A4
 * Red:         #FF5555
 * Orange:      #FFB86C
 * Yellow:      #F1FA8C
 * Green:       #50FA7B
 * Purple:      #BD93F9
 * Cyan:        #8BE9FD
 * Pink:        #FF79C6
 */

* {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
}

html {
    background: #282a36;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    color: #f8f8f2;
    background-color: #282a36;
    padding: 0.7em;
    word-wrap: break-word;
}

/* Links - Cyan */
a {
    color: #8be9fd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

/* Headings - Purple */
h1, h2, h3, h4, h5, h6 {
    color: #bd93f9;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 24px;
    margin-bottom: 16px;
}

h1 {
    font-size: 2em;
    border-bottom: 1px solid #6272a4;
    padding-bottom: 0.3em;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #6272a4;
    padding-bottom: 0.3em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.875em;
}

h6 {
    font-size: 0.85em;
}

/* Paragraphs */
p {
    margin-bottom: 16px;
    margin-top: 0;
}

/* Horizontal rules - Comment */
hr {
    background-color: #6272a4;
    border: 0;
    height: 0.25em;
    margin: 24px 0;
    padding: 0;
}

/* Blockquotes - Comment */
blockquote {
    border-left: 0.25em solid #6272a4;
    color: #6272a4;
    padding: 0 1em;
    margin: 0 0 16px 0;
}

blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}

/* Lists - Pink bullets */
ul, ol {
    margin: 0 0 16px 0;
    padding-left: 2em;
}

ul ul, ul ol, ol ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

ol ol, ul ol {
    list-style-type: lower-roman;
}

ol ol ol, ol ul ol, ul ol ol, ul ul ol {
    list-style-type: lower-alpha;
}

li {
    word-wrap: break-all;
}

li > p {
    margin-top: 16px;
}

li + li {
    margin-top: 0.25em;
}

li::marker {
    color: #ff79c6;
}

/* Definition lists */
dt {
    font-weight: bold;
    margin-left: 1em;
    margin-top: 16px;
}

dd {
    margin-left: 2em;
    margin-bottom: 16px;
}

/* Code - Green */
code, pre {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Monaco, "Courier New", monospace;
    font-size: 12px;
}

code {
    background-color: #44475a;
    color: #50fa7b;
    border-radius: 3px;
    padding: 0.2em 0.4em;
    margin: 0;
}

pre {
    background-color: #44475a;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    margin: 0 0 16px 0;
    word-wrap: normal;
}

pre code {
    background-color: transparent;
    color: #50fa7b;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    padding: 0;
    overflow: visible;
    white-space: pre;
    word-wrap: normal;
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    overflow: auto;
    width: 100%;
    margin: 0 0 16px 0;
}

table th {
    font-weight: 600;
}

table td, table th {
    border: 1px solid #6272a4;
    padding: 6px 13px;
}

table tr {
    background-color: #282a36;
    border-top: 1px solid #6272a4;
}

table tr:nth-child(2n) {
    background-color: #44475a;
}

/* Images */
img {
    border: 0;
    max-width: 100%;
    box-sizing: content-box;
}

/* Keyboard input */
kbd {
    background-color: #44475a;
    border: 1px solid #6272a4;
    border-bottom-color: #44475a;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #6272a4;
    color: #f8f8f2;
    display: inline-block;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Monaco, "Courier New", monospace;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

/* Superscript/subscript */
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

sub {
    font-size: 0.83em;
    vertical-align: sub;
    line-height: 0;
}

/* Strong - Orange */
strong {
    font-weight: 600;
    color: #ffb86c;
}

/* Emphasis - Yellow */
em {
    font-style: italic;
    color: #f1fa8c;
}

/* Abbreviations */
abbr {
    border-bottom: none;
}

/* Task lists */
.task-list-item {
    list-style-type: none;
}

.task-list-item + .task-list-item {
    margin-top: 3px;
}

.task-list-item input {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
}

/* Media queries */
@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin: 0 auto;
    }
}

@media print {
    table, pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
    body {
        padding: 2cm;
    }
}
